name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  repository_dispatch:
    types: contracts changed
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [17]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Save Specmatic license
      if: github.ref == 'refs/heads/main'
      run: |
        mkdir -p ~/.specmatic
        echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

    - name: Build with Gradle Wrapper
      run: ./gradlew test

    - name: Upload HTML Test Report
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.os }}-${{ matrix.java }}-html-report
        path: build/reports/specmatic/html

    - name: Upload CTRF Report
      uses: actions/upload-artifact@v6
      if: always() # Run even if tests fail
      with:
        name: ctrf-report
        path: build/reports/specmatic/async/test/ctrf/*.json
        retention-days: 5

      # Display CTRF test results
    - name: Publish Test Results
      uses: ctrf-io/github-test-reporter@v1
      if: always() # Run even if tests fail
      with:
        report-path: './build/reports/specmatic/test/ctrf/*.json'

    - name: Run coverage report without re-running the tests
      run: ./gradlew jacocoTestReport -x test

    - name: Run Specmatic Insights Build Reporter
      if: github.ref == 'refs/heads/main'
      run: |
        docker run \
          -v ${{ github.workspace }}:/usr/src/app \
          -v ~/.specmatic:/root/.specmatic \
          specmatic/specmatic \
          send-report \
          --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
          --branch-name ${{ github.ref_name }} \
          --repo-name ${{ github.event.repository.name }} \
          --repo-id ${{ github.repository_id }} \
          --repo-url ${{ github.event.repository.html_url }}
  
      
